html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .cf:before,
  .cf:after {
    content: " "; 
    display: table; 
  }
  
  .cf:after {
    clear: both;
  }
  
  main {
    max-width: 960px;
    border: 1px solid #dd7eb2;
    margin: 20px auto;
    /* background-image: url("https://assets.codepen.io/7248/grid-1.png");*/
  }
  
  header.primary,
  #colophon {
    background: rgba(0, 0, 0, 0.4);
    width: 95.83%;
    margin: 2.0833%;
    padding: 20px;
    float: left;
  }
  
  #blog {
    background: rgba(0, 0, 0, 0.6);
    width: 66.4583%;
    margin-left: 2.0833%;
    float: left;
  }
  
  aside {
    background: rgba(228, 82, 155, 0.3);
    width: 27.2916%;
    margin-left: 2.0833%;
    float: left;
  }
  